numpy>=1.20.3
pandas>=1.5
tqdm>=4.57
scikit-learn>=1.2
optuna>=2.10
joblib>=1.1
matplotlib>=3.3, <3.10
lightgbm>=4.0, <4.5
tensorflow>=2.13, <2.18
seaborn>=0.11, <0.14
keras>=2.6, <4.0
pytest-cov>=4.0, <5.1
pytest>=7.1, <8.3
tomli>=2.0, <2.1
pytest-xdist>=3.3, <3.7
numpy>=1.20.3, <2.0
statsmodels>=0.12, <0.15
pmdarima>=2.0, <2.1
