numpy>=1.20.3, <2.1
pandas>=1.5, <2.3
tqdm>=4.57, <4.67
scikit-learn>=1.2, <1.6
optuna>=2.10, <3.7
joblib>=1.1, <1.5
pmdarima>=2.0, <2.1
lightgbm>=4.0, <4.5
pytest>=7.1, <8.3
tomli>=2.0, <2.1
pytest-xdist>=3.3, <3.7
pytest-cov>=4.0, <5.1
keras>=2.6, <4.0
statsmodels>=0.12, <0.15
matplotlib>=3.3, <3.10
seaborn>=0.11, <0.14
