mike==1.1.2
mkdocs==1.4.3
mkdocs-jupyter==0.24.1
mkdocs-material==9.1.15
mkdocstrings==0.22.0
mkdocstrings-python==1.1.0
jupyter-contrib-nbextensions==0.7.0
#skforecast

# No blanck line bewteen arguments
# No Notes sections