/*
Reference: https://github.com/daizutabi/mkapi/issues/8
Thanks to [Ahrak](https://github.com/Ahrak).
*/

/**************************************************
 Main
**************************************************/
.mkapi-node p {
  margin-top: 2px;
  margin-bottom: 6px;
}

.mkapi-node p:last-child {
  margin-bottom: 2px;
}

.mkapi-node pre {
  line-height: 1.2rem;
}

/**************************************************
 Node
**************************************************/
div.mkapi-node {
  margin-left: 0px;
  margin-bottom: 30px;
}

div.mkapi-object-container {
  display: flex;
  align-items: baseline;
}

.mkapi-object {
  display: flex;
  align-items: baseline;
}

.mkapi-object code {
  background: none;
  border: none;
  margin: 0px;
  padding: 0px;
  font-size: 0.9rem;
}

div.mkapi-object.code {
  background: #F0F0F0;
  border-left: solid 3px #CCC;
  border-radius: 0px;
  margin: 0px;
  padding: 4px 12px 4px 4px;
  color: #111;
}

div.mkapi-object.top.code {
  border: none;
  line-height: normal;
  background: #e7f2fa;
  border-top: solid 3px #6ab0de;
  padding: 6px 12px 6px 6px;
}

.mkapi-object.plain {
  margin-bottom: 0px;
}

.mkapi-object-kind {
  margin-left: 5px;
  margin-right: 0.2rem;
  color: #888;
  font-weight: 700;
  font-size: 85%;
  font-style: italic;
}

.mkapi-object-kind.top {
  color: #2980B9;
  font-size: 90%;
}

.mkapi-object-kind.module, .mkapi-object-kind.package {
  font-style: normal;
  color: #888;
}

.mkapi-object-kind.function, .mkapi-object-kind.method {
  display: none;
}

.mkapi-object.code .mkapi-object-body {
  margin: 0px;
  margin-left: 4px;
  padding: 0px;
  font-size: 0.9rem;
}

.mkapi-object.plain .mkapi-object-body {
  margin: 0px;
  margin-left: 4px;
  padding: 0px;
}

code.mkapi-object-prefix {
  font-weight: bold;
  color: #333333;
}

.mkapi-object-prefix a {
  color: inherit;
}

.mkapi-object-prefix a:hover {
  background: #FFDDCC;
}

code.mkapi-object-name {
  font-weight: bold;
  color: #333333;
}

.mkapi-object-name a {
  color: inherit;
}

.mkapi-object-name a:hover {
  background: #FFDDCC;
}

.mkapi-node code.mkapi-object-parenthesis,
.mkapi-node code.mkapi-object-signature {
  color: #555;
  font-weight: 700;
  border: none;
  padding: 0px;
  margin: 0px;
  font-size: 0.81rem;
}

.mkapi-node code.mkapi-object-signature {
  font-style: italic;
}

.mkapi-node .mkapi-object-body.top code.mkapi-object-parenthesis,
.mkapi-node .mkapi-object-body.top code.mkapi-object-signature {
  font-weight: 700;
  color: #2980B9;
}

.mkapi-member .mkapi-object-container {
  position: relative;
}

/**************************************************
 Docstring
**************************************************/
.mkapi-docstring {
  margin-left: 0px;
}

.mkapi-section {
  margin-top: 2px;
  margin-bottom: 8px;
  padding: 0px;
}

.mkapi-section-name {
  padding: 4px 8px;
  color: #333333;
}

.mkapi-section-name-body {
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.mkapi-section-body {
  padding: 4px 8px;
}

.mkapi-section-body.returns,
.mkapi-section-body.yields {
  margin-left: 46px;
}

div.mkapi-section-body.example, div.mkapi-section-body.examples {
  background: #EEEEEE;
  padding: 6px 8px;
  margin: 6px 10px 15px 10px;
}

div.mkapi-section-body.example pre,
div.mkapi-section-body.examples pre {
  background: none;
  border: none;
  padding: 4px;
  margin: 5px 5px 10px 5px;
}

div.mkapi-section-body.example pre code,
div.mkapi-section-body.examples pre code {
  background: none;
  border: none;
  padding: 0px;
  font-size: 0.83rem;
}

/**************************************************
 Bases
**************************************************/
.mkapi-section.bases {
  margin-top: 3px;
  margin-left: 8px;
  margin-bottom: 0px;
  padding: 0px;
  display: flex;
}

.mkapi-section-name.bases {
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #DDDDDD;
}

.mkapi-section-name-body.bases {
  margin: 0px 3px 0px 0px;
  padding: 0px;
  font-size: 0.85rem;
  font-weight: normal;
  color: #777;
  letter-spacing: normal;
}

.mkapi-section-name-body.bases::after {
  content: ":"
}

.mkapi-section-body.bases {
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #DDDDDD;
}

.mkapi-base {
  margin: 0px 3px 0px 0px;
  font-size: 0.85rem;
  padding: 0px;
}

.mkapi-base::after {
  content: ", ";
  color: gray;
}

.mkapi-base:last-child::after {
  content: "";
}

/**************************************************
 Items
**************************************************/
.mkapi-node ul.mkapi-items {
  margin: 0px 0px 5px 46px;
  padding: 0px;
  position: relative;
}

.mkapi-node ul.mkapi-items li {
  margin: 0px 0px 2px 0px;
  padding-left: 25px;
  text-indent: -25px;
  list-style: none;
  line-height: 1.25em;
}

.mkapi-node ul.mkapi-items li::before {
  position: absolute;
  content: "•";
  left: -25px;
  text-align: right;
  font-size: 60%;
  font-weight: normal;
  color: #9999BB;
  width: 20px;
}

.mkapi-node ul.mkapi-items li.readwrite-property::before {
  font-size: 80%;
  content: "[RW]";
}

.mkapi-node ul.mkapi-items li.readonly-property::before {
  font-size: 80%;
  content: "[RO]";
}

.mkapi-node ul.mkapi-items li.abstract-readwrite-property::before {
  font-size: 80%;
  content: "[ARW]";
}

.mkapi-node ul.mkapi-items li.abstract-readonly-property::before {
  font-size: 80%;
  content: "[ARO]";
}

.mkapi-node ul.mkapi-items li.classmethod::before {
  font-size: 80%;
  content: "[C]";
}

.mkapi-node ul.mkapi-items li.staticmethod::before {
  font-size: 80%;
  content: "[S]";
}

.mkapi-node ul.mkapi-items li.generator::before {
  font-size: 80%;
  content: "[G]";
}

.mkapi-node ul.mkapi-items li.dataclass::before {
  font-size: 80%;
  content: "[D]";
}

.mkapi-node ul.mkapi-items li.abstract-method::before {
  font-size: 80%;
  content: "[A]";
}

.mkapi-node ul.mkapi-items li.abstract-classmethod::before {
  font-size: 80%;
  content: "[AC]";
}

.mkapi-node ul.mkapi-items li.abstract-staticmethod::before {
  font-size: 80%;
  content: "[AS]";
}

.mkapi-node ul.mkapi-items li.abstract-generator::before {
  font-size: 80%;
  content: "[AG]";
}

.mkapi-node ul.mkapi-items li.abstract-dataclass::before {
  font-size: 80%;
  content: "[AD]";
}

.mkapi-node code.mkapi-item-name {
  font-weight: bold;
  color: #000000;
  border: none;
  font-size: 0.9rem;
  padding: 0px;
  margin: 0px;
}


.mkapi-item-name a {
  color: inherit;
}

.mkapi-item-name a:hover {
  background: #FFDDCC;
}


.mkapi-item-type {
  color: #8888EE;
  font-weight: normal;
  font-size: 0.85rem;
  font-family: sans-serif;
  line-height: 1rem;
}

.mkapi-item-type a {
  color: inherit;
  font-weight: bold;
}

.mkapi-item-type a:hover {
  background: #FFDDCC;
}

.mkapi-item-dash {
  color: #AABBAA;
}

/**************************************************
 Members
**************************************************/
.mkapi-members {
  margin-left: 40px;
}

.mkapi-member {
}

.mkapi-members .mkapi-node {
  margin-bottom: 0px;
}


/*****************************************************
 Source Code
*****************************************************/
a.mkapi-src-link, a.mkapi-docs-link {
  font-size: 0.7rem;
  font-weight: normal;
  margin-left: 10px;
  padding: 1px 3px;
  border: 1px solid #BEBEBE;
  background: #F0F0F0;
  border-radius: 5px;
  color: #BEBEBE;
}

a.mkapi-src-link {
  letter-spacing: -0.08em;
}

a.mkapi-src-link:hover, a.mkapi-docs-link:hover {
  border: 1px solid #FF9999;
  background: #FFF0F0;
  color: red;
}
