/* ===============================
    Jupyter Wrapper Styles
    =============================== */
/* Styling for Jupyter CodeMirror editor */
.jupyter-wrapper .CodeMirror.cm-s-jupyter {
  font-size: 0.9em; 
}

.jupyter-wrapper {
  --jp-code-font-size: 0.9em
}

/* Styling for Jupyter Output Area */
.jupyter-wrapper .jp-OutputArea-output pre {
  border: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  word-break: break-all;
  white-space: pre-wrap;
  font-size: 1.1em;
}


/* Display inline tables for dataframes in Jupyter */
.jupyter-wrapper table.dataframe {
  display: inline;
}

/* Hide output prompt in Jupyter */
.jupyter-wrapper .jp-OutputPrompt,
.jupyter-wrapper .jp-CodeCell .jp-Cell-inputWrapper .jp-InputPrompt,
.jupyter-wrapper .jp-Notebook .jp-Cell:not(.jp-mod-active) .jp-InputPrompt {
  display: none;
}

/* ===============================
    Markdown Content Styles
    =============================== */
/* Hide the Markdown content button */
.md-content__button {
  display: none;
}

/* Set font size for inline code in Markdown */
.md-typeset code {
  font-size: 1em;
}

.md-typeset h1 {
  font-weight: 500;
  letter-spacing: -0.01em;
  margin: 0 0 1em 0;
}

/* Set font size and line height for H2 headers in Markdown */
.md-typeset h2 {
  font-weight: 500;
  font-size: 1.3em;
  margin: 2em 0 1em 0;
}

/* Set font size and line height for H3 headers in Markdown */
.md-typeset h3 {
  font-weight: 500;
  font-size: 1.2em;
  margin: 1em 0 1em 0;
}

.md-typeset pre {
  font-size: 0.9em;
}

.md-typeset ul {
  list-style-type: disc;
  font-size: 0.9em;
}

.md-typeset .admonition>*, .md-typeset details>* {
  box-sizing: border-box;
  font-size: 1em;
}

/* Justify paragraph text in Markdown */
p {
  text-align: justify;
  text-justify: inter-word;
  font-size: 0.9em;
}

/* ===============================
    Color Scheme Styles
    =============================== */
/* Light color scheme styles */
[data-md-color-scheme="light"] {
  --md-primary-fg-color: #001633;
  --md-accent-fg-color: #f79939;
  --md-primary-bg-color: #f79939;
  --md-typeset-a-color: #f79939;
}

/* Slate color scheme styles */
[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #001633;
  --md-accent-fg-color: #f79939;
  --md-primary-bg-color: #f79939;
  --md-typeset-a-color: #f79939;
}

/* Hide dark images in light mode */
[data-md-color-scheme="light"] img[src$="#only-dark"],
[data-md-color-scheme="light"] img[src$="#gh-dark-mode-only"] {
  display: none; 
}

/* Hide light images in dark mode */
[data-md-color-scheme="dark"] img[src$="#only-light"],
[data-md-color-scheme="dark"] img[src$="#gh-light-mode-only"] {
  display: none; 
}

/* ===============================
    Badge Styles
    =============================== */
.badge {
  display: inline-block;
  padding: 0.2em 0.4em;
  font-size: 0.75em; 
  font-weight: 700;
  line-height: 1;
  text-align: center;
  border-radius: 0.25rem;
}

/* Enhancement Badge */
.text-bg-enhancement {
  color: #fff;
  background-color: #17a2b8;
}

/* API Change Badge */
.text-bg-api-change {
  color: #fff;
  background-color: #ffc107;
}

/* Feature Badge */
.text-bg-feature {
  color: #fff;
  background-color: #28a745;
}

/* Fix Badge */
.text-bg-danger {
  color: #fff;
  background-color: #dc3545;
}
