.jupyter-wrapper .CodeMirror.cm-s-jupyter {
    background: var(--jp-layout-color0);
    color: var(--jp-content-font-color1);
    font-size: medium;
}

.jupyter-wrapper .jp-OutputArea-output pre {
    border: none;
    margin: 0px;
    padding: 0px;
    overflow-x: auto;
    overflow-y: auto;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: medium;
}

.jupyter-wrapper .jp-OutputPrompt {
    display: none;
}

.jupyter-wrapper .jp-CodeCell .jp-Cell-inputWrapper .jp-InputPrompt {
    display: none;
}

.md-content__button {
    display: none;
  }

p {
    text-align: justify;
    text-justify: inter-word;

}

:root {
    --md-primary-fg-color:        #001633;
    --md-primary-fg-color--light: #001633;
    --md-primary-fg-color--dark:  #001633;
    --md-accent-fg-color:        #f79939;
    --md-accent-fg-color--light: #f79939;
    --md-accent-fg-color--dark:  #f79939;
    --md-primary-bg-color:       #f79939;
  }