.jupyter-wrapper .CodeMirror.cm-s-jupyter {
    background: var(--jp-layout-color0);
    color: var(--jp-content-font-color1);
    font-size: medium;
}

/* .jupyter-wrapper .highlight-ipynb pre {
  font-size: 0.9em;
} */

.jupyter-wrapper .jp-OutputArea-output pre {
    border: none;
    margin: 0px;
    padding: 0px;
    overflow-x: auto;
    overflow-y: auto;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: medium;
}

.jupyter-wrapper table.dataframe {
  display: inline;
}

.jupyter-wrapper .jp-OutputPrompt {
    display: none;
}

.jupyter-wrapper .jp-CodeCell .jp-Cell-inputWrapper .jp-InputPrompt {
    display: none;
}

.jupyter-wrapper .jp-Notebook .jp-Cell:not(.jp-mod-active) .jp-InputPrompt {
  display: none;
}

.md-content__button {
    display: none;
}

.md-typeset code {
    font-size: 1em;
}

.md-typeset h2 {
  font-size: 1.3em;
  line-height: 1.2;
}

.md-typeset h3 {
  font-size: 1.1em;
  line-height: 1.2;
}


p {
    text-align: justify;
    text-justify: inter-word;
}

[data-md-color-scheme="light"] {
    --md-primary-fg-color:        #001633;
    --md-primary-fg-color--light: #001633;
    --md-primary-fg-color--dark:  #001633;
    --md-accent-fg-color:        #f79939;
    --md-accent-fg-color--light: #f79939;
    --md-accent-fg-color--dark:  #f79939;
    --md-primary-bg-color:       #f79939;
    --md-typeset-a-color:        #f79939;
  }

  [data-md-color-scheme="slate"] {
    --md-primary-fg-color:        #001633;
    --md-primary-fg-color--light: #001633;
    --md-primary-fg-color--dark:  #001633;
    --md-accent-fg-color:        #f79939;
    --md-accent-fg-color--light: #f79939;
    --md-accent-fg-color--dark:  #f79939;
    --md-primary-bg-color:       #f79939;
    --md-typeset-a-color:        #f79939;
  }

[data-md-color-scheme="light"] img[src$="#only-dark"],
[data-md-color-scheme="light"] img[src$="#gh-dark-mode-only"] {
  display: none; /* Hide dark images in light mode */
}

[data-md-color-scheme="dark"] img[src$="#only-light"],
[data-md-color-scheme="dark"] img[src$="#gh-light-mode-only"] {
  display: none; /* Hide light images in dark mode */
}
