name: Codecov coverage
on:
  pull_request:
    branches:
    - master
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Set up Python 3.11
        uses: actions/setup-python@v3
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install tomli
          python extract_dependences.py
          python -m pip install -r requirements.txt
      - name: Run tests and collect coverage
        run: pytest --cov
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
