name: Codecov coverage report
on:
  pull_request:
    branches:
    - master
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
          python -m pip install -r requirements_test.txt
      - name: Run tests and collect coverage
        run: pytest --cov
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3